/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Code Pro', monospace;
    background-color: hsl(0, 0%, 100%);
    color: #513a2e;
    line-height: 1.6;
}

a {
    color: #ff6f14;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header */
.header {
    background-color: hsl(0, 0%, 100%);
    color: #ff6f14;
    padding: 2rem;
    text-align: left;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    /* Corrected gap */
}

.profile-picture {
    width: 128px;
    height: 128px;
    border-radius: 7%;
    border: 0px solid #ff6f14;
    object-fit: cover;
}

.header h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: 'Roboto Mono', monospace;
}

.minibody {
    font-size: 0.8rem;
    color: #924f35;
}

.flower {
    color: #ff6f14;
}

/* Social Media Button Section */
.social-media-buttons {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.icon-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: hsl(0, 0%, 100%);
    color: #ff6f14;
    border: none;
    padding: 0.5rem .5rem;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
    box-shadow: 5px 5px 15px rgba(255, 164, 111, 0.5);
}

.icon-button:hover {
    background-color: hsl(0, 0%, 100%);
    transform: scale(1.05);
}

.icon-button:active {
    background-color: #ffc49f;
    transform: scale(0.95);
}

.button-icon {
    width: 20px;
    height: 20px;
}

/* Navigation Bar */
.headerbar {
    font-family: 'Roboto Mono', monospace;
    background-color: hsl(0, 0%, 100%);
    color: #ff6f14;
    padding: 1.5rem;
    text-align: center;
}

/* Section Styling */
section {
    padding: 3rem 1.5rem;
    max-width: 900px;
    margin: auto;
    border-bottom: 1px solid #ffffff;
}

h2,
h3 {
    font-size: 1.8rem;
    color: #ff6f14;
    margin-bottom: 1rem;
    font-family: 'Roboto Mono', monospace;
}

/* Footer */
.footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #ffffff;
    color: #ff6f14;
    font-family: 'Roboto Mono', monospace;
}